<!DOCTYPE html>
<html>
  <head>
    <title>In Class Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logout"><%= link_to('Logout', '/session', method: :delete) if @current_user %></div>
      <nav>
        <%= link_to('Home', '/') %>
        <%= link_to('Posts', '/posts') %>
        <%= link_to('Profile', "/users/#{@current_user.id}/edit") if @current_user %>
        <%= link_to('Sign Up', '/users/new') if @current_user == nil %>
        <%= yield %>
      </nav>
    </header>
  </body>
</html>
